@charset "UTF-8";

/* 共通パーツ Start */

html {
    /* ① */
    font-size: 16px;
    /* font-size:文字サイズ */
}

body {
    /* ② */
    color: #624649;
    /* color:文字色 */
    font-size: 1rem;
    /* 1rem=htmlで指定された16px*/
    font-family: "YuGothic", Yu Gothic, sans-serif;
    /* font-family:文字のスタイル */
}

ul,
li,
ol {
    /* ③ */
    list-style-type: none;
    /* list-style-type:リスト要素の際に出てくる「・」など */
}

a {
    /* ④ */
    text-decoration: none;
    /* text-decoration:テキストのデコレーション（下線とか） */
    transition: 0.6s;
    /* transition:cssが反映される時間（ゆっくり色を変えるなどに使用）; */
}

a:hover {
    /* ⑤ */
    transition: 0.6s;
}

.container {
    /* 共通パーツのクラス  */
    max-width: 1024px;
    /* ① max-width:最大横幅 */
    width: 90%;
    /* ② width:横幅 */
    margin: 0 auto;
    /* ③ */
}


/* section {
    padding-top: 80px;
    padding-bottom: 80px;
    border: solid;
} */

#concept,
#feature,
#thought,
#macaronlife,
#lineup,
#package,
#store,
#contact {
    padding: 80px 0;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0rem;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    letter-spacing: 4px;
    color: #dd918e;
}

.jaTitle {
    font-size: 1rem;
    color: #dd918e;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.featureArea,
.lifeArea,
.lineupArea,
.packageArea,
.storeArea {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.boxDesign {
    background-color: #fff;
}

.aboutText {
    font-size: 1rem;
    letter-spacing: 0.8px;
}

select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    border-style: solid;
    height: 28px;
}

select::-ms-expand {
    display: block;
}


/* 共通パーツ End */


/*** グローバルナビゲーション Start***/

.g-navi {
    position: static;
    /* position:要素の配置方法 */
    background-color: #e2bfcb;
    /* ① background-color:背景色 */
    width: 100%;
    /* ① */
}

.g-navi ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.g-navi ul li {
    flex-basis: 16.6%;
    text-align: center;
}

.g-navi ul li a {
    display: block;
    color: #fff;
    padding: 20px 0;
}

.g-navi ul li a:hover {
    color: #ccc;
    background-color: #eb3c55;
    opacity: 0.5;
    transition: 2.0s;
}


/*** グローバルナビゲーション End***/


/*** メインビジュアル Start***/

#mainVisual {
    background-image: url(../image/mv.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 663px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    letter-spacing: 10Px;
    color: #955E64;
    font-weight: normal;
    text-shadow: 0px 0px 4px #fff;
    filter: drop-shadow(4px 2px 4px #fff);
}

.mv-wrapper {
    position: relative;
}

.mv-right {
    position: absolute;
    top: 240px;
    right: 0;
    max-width: 100%;
}

.text {
    font-family: 'Great Vibes', cursive;
    font-size: 1.625rem;
    letter-spacing: 4px;
    color: #955E64;
    text-align: center;
    text-shadow: 0px 0px 4px #fff;
    filter: drop-shadow(4px 2px 4px #fff);
    margin-bottom: 80px;
}

.purchase-button {
    text-align: center;
}

.purchase-button a {
    display: inline-block;
    background-color: #955E64;
    color: #fff;
    padding: 15px 50px;
    font-size: 1.375rem;
}

.purchase-button a:hover {
    background-color: #fff;
    color: #955e64;
}


/*** メインビジュアル End***/


/*** コンセプト Start***/

#concept {
    background-color: #f7e8e8;
    background-image: url(../image/back1.png), url(../image/back2.png);
    background-size: 22%, 22%;
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 100%;
    text-align: center;
}

.conceptArea {
    text-align: center;
}

.conceptTitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-weight: normal;
}

.conceptText {
    margin-bottom: 20px;
    line-height: 1.8;
}


/*** コンセプト End***/


/*** こだわり Start***/

#feature {
    background-color: #e4ecef;
}

.featureBox {
    max-width: 320px;
    /**画像幅に合わせて320px**/
    /* margin: 1em; */
}

.featureBox:nth-of-type(2) {
    /* nth-of-type：CSSの疑似クラス */
    /* 2番目の要素に対するCSS */
    background-color: #fffde8;
}

.featureImage {
    max-width: 100%;
}

.featureText {
    padding: 20px 15px;
}

.featureNumber {
    font-size: 1.5rem;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    letter-spacing: 2px;
    color: #dd918e;
}

.featureTitle {
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.featureAbout {
    font-size: 1rem;
}


/*** こだわり End***/


/*** 想い Start***/

#thought {
    background-color: #fff;
}

.thoughtArea {
    position: relative;
}

.thoughtBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #f7e8e8;
    padding: 2rem;
}

.thoughtImage {
    display: block;
    width: 48%;
}

.thoughtText {
    width: 48%;
}

.thoughtTitle {
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
}

.thoughtAbout {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
}

.staffName {
    text-align: right;
}

.slideButton {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 48px;
    height: 48px;
    border-top: 2px solid #c0c0c0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
    border-left: 2px solid #c0c0c0;
    transform: rotate(-45deg);
}

.next {
    right: 10px;
    border-right: 2px solid #c0c0c0;
    transform: rotate(45deg);
}


/*** 想い End***/


/*** マカロンライフ Start***/

#macaronlife {
    background: linear-gradient(#f7e8e8, #e4ecef);
}

.lifeBox {
    text-align: center;
}

.lifeBox a {
    display: block;
    padding: 10px;
    color: #333;
}

.lifeBox a:hover {
    color: #955E64;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
}

.lifeImage {
    width: 100%;
    margin-bottom: 5px;
}


/*** マカロンライフ End***/


/*** ラインナップ Start***/

.lineupMenu {
    margin-bottom: 3rem;
}

.lineupMenu ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid #d29490;
}

.lineupMenu ul li {
    width: 100%;
    text-align: center;
}

.lineupMenu ul li a {
    display: block;
    color: #333;
    background-color: #f4e8e8;
    border-radius: 30px 30px 0 0;
    padding: 0.5rem 0;
}

.lineupMenu ul li a:hover {
    color: #fff;
    background-color: #d29490;
}

.lineupMenu ul li.active a {
    color: #fff;
    background-color: #d29490;
}

.lineupProduct {
    flex-basis: 31%;
}

.lineupImage {
    border: 1px dashed #d29490;
    border-radius: 30px;
    text-align: center;
    padding: 4rem 0rem;
    margin-bottom: 20px;
}

.nameEn {
    font-size: 1.5rem;
    font-weight: bold;
}

.lineupText {
    line-height: 1.8;
}

.moreLineup {
    text-align: center;
    margin-top: 60px;
}

.btnMore {
    display: inline-block;
    background-color: #d29490;
    color: #fff;
    padding: 10px 100px;
    font-size: 1.375rem;
    letter-spacing: 3px;
}

.btnMore:hover {
    background-color: #955e64;
    color: #fff;
}


/*** ラインナップ End***/


/*** パッケージ Start***/

.packageLineup {
    flex-basis: 31%;
}

.packageImage {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.packageTitle {
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.packageValue {
    color: #dd918e;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.packageSelect {
    width: 100%;
    margin-bottom: 10px;
}

.purchaseNumber {
    margin-bottom: 20px;
}

.number {
    width: 50px;
}

.selectCart {
    margin-bottom: 30px;
    height: 54px;
}

.selectCart a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #586fc8;
    filter: drop-shadow(0px 4px 0px #243f81);
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 4px;
    transition: 0s;
}

.selectCart a:hover {
    filter: none;
    height: 54px;
    margin-bottom: 0;
    transition: 0s;
}


/*** パッケージ End***/


/*** 店舗情報 Start***/

#store {
    background: #e4ecef;
}

.mapImage,
.cafeText {
    flex-basis: 48%;
}

.storeName {
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 30px;
}

address {
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.8;
}

.storeAddress {
    color: #624649;
}


/*** 店舗情報 End***/


/*** お問い合わせ Start***/

#contact {
    background: #f7e8e8;
}

form {
    margin: 0 auto;
    max-width: 500px;
}

.ctBlock {
    margin-bottom: 32px;
}

.contactText {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.formName,
.formMail,
.cpHowto select {
    border: 1px solid #b1b1b1;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #fff;
}

textarea {
    border: 1px solid #b1b1b1;
    width: 100%;
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
}

.cpHowto {
    /**子要素で「▼」をつけるため**/
    position: relative;
    border: 1px solid #b1b1b1;
    background: #fff;
}


/*「▼」をつける部分になります */

.cpHowto::before {
    position: absolute;
    top: 14px;
    right: 10px;
    /* 「:before」「:after」の擬似要素でコンテンツを表示させる際はこちらをつけます */
    content: '';
    /* 「▼」を3つのボーダーで描きます */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 13px solid #666;
}


/* 不要な表示内容を全て非表示にします */

.cpHowto select {
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    /* 「▼」の分、内側に余白をつけます */
    padding: 10px 40px 10px 10px;
}


/* Internet Explorer用の記述です */

.cpHowto select::-ms-expand {
    display: none;
}

.sendButton {
    display: block;
    background-color: #dd918e;
    font-size: 1.375rem;
    padding: 10px 120px;
    margin: 0 auto;
    color: #fff;
    transition: 0.6s;
}

.sendButton:hover {
    background-color: #fff;
    color: #dd918e;
    transition: 0.6s;
}


/*** お問い合わせ End***/


/*** フッター Start***/

footer {
    background: #e2bfcb;
    color: #fff;
}

.footerContent {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 40px 0;
}

.footerContent a {
    color: #fff;
}

.footerContent a:hover {
    color: #624649;
}

.logoArea {
    flex-grow: 2;
}

.menu {
    flex-grow: 2;
}

.logo {
    display: block;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 6px;
    margin-bottom: 10px;
}

.snsBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mark {
    margin-right: 1rem;
}

.menu ul li {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

footer small {
    padding-bottom: 20px;
    display: block;
    text-align: center;
}


/*** フッター End***/